/CombatInstructorDialogue.class
/CombatInstructorExit.class
/CombatTab.class
/EnterRatCage.class
/EquipBowAndArrow.class
/EquipSwordAndShield.class
/EquipmentTab.class
/MeleeRat.class
/RangeRat.class
/ViewEquipment.class
/WieldDagger.class
